<mat-tab-group>
    <mat-tab label="Competitor Review">
        <competitor-review [competitorReviews]="competitorReviews"></competitor-review>
    </mat-tab>
    <mat-tab label="Trend Research">
        <trend-analyze [trendAnalyzes]="trendAnalyzes"></trend-analyze>
    </mat-tab>
    <mat-tab label="New Market Identification">
        <new-markets [newMarkets]="newMarkets"></new-markets>
    </mat-tab>
    <mat-tab label="M&A Target Scouting">
        <aqcuisition-targets [acquisitionTargets]="acquisitionTargets"></aqcuisition-targets>    
    </mat-tab>
</mat-tab-group>
