<mat-toolbar class="toolbar" >
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
      <mat-icon>menu</mat-icon>
    </button>
    <span>Competitor Analyzer</span>
    <span class="navbar-spacer"></span>
    <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
      <mat-icon>favorite</mat-icon>
    </button>
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
      <mat-icon>share</mat-icon>
    </button>
</mat-toolbar>


<company-selector *ngIf="companySelected == null" (companySelectedEvent)="companySelectedEvent($event)"></company-selector>
<div *ngIf="(companySelected != null) && !isReady">
  <div class="companySearchIndicator">
      Get data for {{ companySelected.name }}...
  </div>
  <mat-progress-bar mode="indeterminate"></mat-progress-bar>
</div>
<div *ngIf="(companySelected != null) && isReady">
  <div class="competitorAnalyzeCompany">
      <h3>
          Competitor-Analyze for {{companySelected.name}}
      </h3>
      <div>
          {{companySelected.business_area}}
      </div>
      <div>
          {{companySelected.employee_count}}
      </div>
      <div>
          {{companySelected.size}}
      </div>
  </div>
  <button (click)="generateExcel()">Generate Excel</button>
  <competitor-analyze [acquisitionTargets]="acquisitionTargets" [competitorReviews]="competitorReviews" [newMarkets]="newMarkets" [trendAnalyzes]="trendAnalyzes"></competitor-analyze>
</div>



