.navbar-spacer {
    flex: 1 1 auto;
}

.toolbar{
    position: sticky;
    background-color: antiquewhite;
    z-index: 99;
    top: 0;
}

.companySearchIndicator{
    text-align: center;
    margin: 1em;
}

.competitorAnalyzeCompany{
    width: 30em;
    margin: auto;
    padding: 1ch;
    border: 2px solid black;
    border-radius: 1em; 
}
