<div *ngIf="competitorReviews.length == 0">
    <mat-spinner></mat-spinner>
</div>
<div *ngIf="competitorReviews.length > 0" class="competitor-reviews">
    <div *ngFor="let competitorReview of competitorReviews" class="competitor-review">
        <div class="companyName">
            {{competitorReview.name}}
        </div>
        <div>
            <mat-icon>location_on</mat-icon>
            {{competitorReview.location}}
        </div>
        <div>
            <mat-icon>groups</mat-icon>
            {{competitorReview.employee_count}}
        </div>
        <div>
            <mat-icon>payments</mat-icon>
            {{competitorReview.revenue}}
        </div>
        <div>
            <mat-icon>public</mat-icon>
            {{competitorReview.size}}
        </div>
        <div>
            <mat-icon>grading</mat-icon>
            {{competitorReview.business_area}}
        </div>
    </div>
</div>

